{% extends "base.html" %}

{% load static %}

{% block styles %}
    <!-- Ajoutez ici vos styles spécifiques à cette page si nécessaire -->
{% endblock styles %}

{% block content %}


  <section class="bg-f5">
    <div class="tf-container">
      <div class="row">
        <div class="col-lg-12">
          <div class="page-title">
            <div class="widget-menu-link">
              <ul>
                <li><a href="home-01.html">Home</a></li>
                <li><a href="#">Blog Masonry</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-section">

    <div class="tf-container">
      <div class="group-col-3">
        <div class="cl3">
          <!-- blog 1  -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-06.jpg" %}" alt="image">
            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">How to make the most of your virtual admissions
                  interview</a></h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
          <!-- blog 4 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-07.jpg" %}" alt="image">
            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">Jobtex is named a top HR product in G2’s 2022 Best
                  Software Awards</a></h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
          <!-- blog 6 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-13.jpg" %}" alt="image">
            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">8 Steps You’re Missing Before Booking Your Demo</a></h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cl3">
          <!-- blog 2 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-09.jpg" %}" alt="image">

            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">Jobtex partners with SAP and is available via the SAP®
                  Store</a></h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
          <!-- blog 5 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-10.jpg" %}" alt="image">
            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">Jobtex is number one for ten consecutive quarters!</a>
              </h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
          <!-- blog 7 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-08.jpg" %}" alt="image">
            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">The Fight Against Academic Burnout</a></h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cl3">
          <!-- blog 3 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-12.jpg" %}" alt="image">
            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <div class="main-title"><a href="blog-detail.html">5 tips to create an ATS-friendly resume for
                  post-grads</a></div>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
          <!-- blog 8 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-11.jpg" %}" alt="image">
            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">20 HR Podcasts for Human Resources Professionals</a>
              </h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
          <!-- blog 9 -->
          <div class="widget-blog-1 style-1 stc">
            <div class="img-blog">
              <img src="{% static "images/blog/image-14.jpg" %}" alt="image">

            </div>
            <div class="content stc">
              <span class="sub-title">Development</span>
              <h3 class="main-title"><a href="blog-detail.html">16 Must-Read Human Resource Books in 2022</a></h3>
              <ul class="meta">
                <li class="author"><span>by</span>Avitex</li>
                <li class="time"><span class="icon-calendar"></span> 2 days ago</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul class="pagination-job">
        <li><a href="#"><i class="icon-keyboard_arrow_left"></i></a></li>
        <li><a href="#">1</a></li>
        <li class="current"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#"><i class="icon-keyboard_arrow_right"></i></a></li>
      </ul>
    </div>

  </section>

    <!-- Footer -->
    <footer class="footer">
        {% include 'footer.html' %}
    </footer>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.min.js' %}"></script>
    <script src="{% static 'javascript/boostrap-select.min.js' %}"></script>
    <script src="{% static 'javascript/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'javascript/countto.js' %}"></script>
    <script src="{% static 'javascript/wow.min.js' %}"></script>
    <script src="{% static 'javascript/swiper.js' %}"></script>
    <script src="{% static 'javascript/plugin.min.js' %}"></script>
    <script src="{% static 'javascript/jquery-ui.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFC3m2n0jBRFTMvUNZc0-6Y0Rzlcadzcw"></script>
    <script src="{% static 'javascript/maps.js' %}"></script>
    <script src="{% static 'javascript/infobox.min.js' %}"></script>
    <script src="{% static 'javascript/marker.js' %}"></script>
    <script src="{% static 'javascript/jquery.cookie.js' %}"></script>
    <script src="{% static 'javascript/main.js' %}"></script>
    <script src="javascript/jquery.fancybox.js"></script>
{% endblock scripts %}
